
html, body{
	font-family: arial, sans-serif;
}

body{
	color: #333;
}

dt{
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

dd{
	color: #555;
	margin-bottom: 2em;
}
